@import "base.css";
@import "variables.css";

#app {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px;
  font-family: Arial, "Helvetica", sans-serif;
  line-height: 1.55;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

body {
  overflow: hidden; /* Запрет прокрутки */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
